<p class="staticpages">Ketentuan ini mengatur tentang akses dan penggunaan layanan. Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. Dengan mengakses atau menggunakan layanan, berarti anda setuju untuk terikat oleh ketentuan ini.</p>

<p class="staticpages">1. Persyaratan Dasar</p>

<p class="staticpages">Anda bertanggung jawab atas layanan yang digunakan, untuk setiap konten yang anda kirimkan dan atas segala konsekuensinya. Konten yang anda kirimkan bisa dilihat oleh pengguna lain yang juga menggunakan layanan ini. Anda hanya harus mengirimkan konten yang anda anggap nyaman untuk dibagikan kepada orang lain berdasarkan ketentuan ini.</p>

<p class="staticpages">Anda dapat menggunakan layanan hanya jika anda dapat membentuk suatu kontrak yang mengikat dengan xtc.co.id dan bukan merupakan orang yang dilarang menerima layanan berdasarkan peraturan perundang-undangan yang berlaku di Negara Kesatuan Republik Indonesia. Jika anda menerima ketentuan ini dan menggunakan layanan atas nama perusahaan, organisasi, pemerintah, atau badan hukum lainnya, anda menyatakan dan menjamin bahwa anda memiliki kuasa untuk melakukannya. Anda bisa menggunakan layanan yang telah sesuai ketentuan-ketentuan ini dan semua peraturan perundang-undangan yang berlaku di Negara Kesatuan Republik Indonesia.</p>

<p class="staticpages">Layanan yang xtc.co.id sediakan selalu berkembang, sehingga bentuk dan sifat dari layanan yang xtc.co.id sediakan dapat berubah dari waktu ke waktu tanpa pemberitahuan sebelumnya kepada anda. Selain itu, xtc.co.id dapat menghentikan (permanen atau sementara) penyediaan layanan (atau suatu fitur di dalam layanan) kepada anda atau pengguna lain tanpa pemberitahuan sebelumnya. xtc.co.id juga memiliki hak untuk membuat batas pada penggunaan dan penyimpanan menurut kebijakan xtc.co.id
setiap saat, tanpa pemberitahuan sebelumnya kepada anda.</p>

<p class="staticpages">Layanan dapat mencakup iklan, yang ditujukan pada konten atau informasi, permintaan yang disampaikan melalui layanan, atau informasi lainnya. Jenis dan jumlah iklan dari xtc.co.id pada layanan dapat berubah. Sebagai imbalan untuk xtc.co.id karena telah memberikan akses dan layanan maka anda setuju bahwa xtc.co.id, pihak ketiga dan mitra dapat menempatkan iklan tersebut pada layanan atau dalam kaitannya dengan tampilan konten atau informasi dari layanan baik yang diajukan oleh anda atau orang lain.</p>

<p class="staticpages">2. Kerahasiaan</p>

<p class="staticpages">Setiap informasi yang anda berikan ke xtc.co.id tunduk pada <a href="#">kebijakan Kerahasiaan</a>, yang mengatur tentang pengumpulan dan penggunaan informasi anda. Anda mengerti bahwa melalui layanan yang anda gunakan, anda menyetujui pengumpulan dan penggunaan (sebagaimana diuraikan dalam kebijakan kerahasiaan) informasi ini, termasuk pemindahan informasi ini ke Indonesia dan/atau negara lain untuk kepentingan penyimpanan, pengolahan dan penggunaan oleh xtc.co.id. Sebagai bagian dari layanan yang diberikan kepada anda, kita mungkin perlu menyediakan bentuk komunikasi tertentu, misalnya pengumuman menyangkut layanan dan pesan administratif. Komunikasi tersebut dianggap sebagai bagian dari layanan dan akun xtc.co.id anda, dimana anda mungkin tidak dapat menghindarinya.</p>

<p class="staticpages">3. sandi</p>

<p class="staticpages">Anda bertanggung jawab untuk menjaga sandi yang digunakan untuk mengakses layanan dan untuk setiap kegiatan atau tindakan dengan sandi. Kami menganjurkan untuk menggunakan "sandi kuat" (sandi yang menggunakan kombinasi huruf besar dan huruf kecil, angka dan simbol) pada akun anda. xtc.co.id tidak dapat dan tidak akan bertanggung jawab atas kerugian atau kerusakan yang timbul karena akibat dari kegagalan anda untuk memenuhi ketentuan di atas.</p>

<p class="staticpages">4. Konten pada layanan</p>

<p class="staticpages">Semua konten, baik yang dikirim secara publik atau secara rahasia, sepenuhnya merupakan tanggung jawab orang yang membuat atau mengirimkan Konten tersebut. Kita mungkin tidak memantau atau mengontrol konten yang dikirimkan melalui layanan dan kita tidak bisa mengambil tanggung jawab untuk konten tersebut. Setiap penggunaan atau kepercayaan pada konten atau materi yang dipublikasikan melalui layanan atau diperoleh anda melalui layanan adalah resiko anda sendiri.</p>

<p class="staticpages">Kami tidak menyarankan, mendukung, mewakili atau menjamin kelengkapan, kebenaran, akurasi, atau ketahanan uji dari konten atau komunikasi yang dikirim melalui layanan atau mendukung pendapat tertentu yang diekspresikan melalui layanan. Anda memahami bahwa dengan menggunakan layanan, anda mungkin akan melihat konten yang mungkin menyinggung, berbahaya, tidak akurat atau tidak pantas, atau dalam beberapa kasus, kiriman yang telah disalah-artikan atau menipu. Dalam keadaan dan bentuk apapun, xtc.co.id tidak bertanggung jawab atas konten, termasuk segala bentuk kesalahan atau kekurangan dalam konten, atau segala kerugian atau kerusakan apapun yang timbul sebagai akibat dari penggunaan konten yang dipasang, dikirim lewat email, dikirimkan atau disediakan melalui layanan atau disiarkan di tempat lain.</p>

<p class="staticpages">5. Hak anda</p>

<p class="staticpages">Anda tetap memiliki hak untuk semua konten yang anda masukkan, pasang atau tampilkan melalui layanan. Dengan memasukkan, memasang atau menayangkan konten melalui layanan, anda memberi kita lisensi bebas royalti yang tidak eksklusif (dengan hak untuk mensublisensikan) untuk menggunakan, menyalin, mereproduksi, memproses, menyesuaikan, memodifikasi, menerbitkan, mengirimkan, menampilkan dan mendistribusikan konten tersebut dalam setiap dan semua media atau metode distribusi (yang sekarang dikenal atau yang kemudian dikembangkan) di seluruh dunia.</p>

<p class="staticpages">Anda setuju bahwa lisensi ini mencakup hak bagi xtc.co.id untuk memberikan, mempromosikan, dan meningkatkan layanan dan untuk membuat Konten yang dikirimkan ke atau melalui Layanan yang tersedia untuk perusahaan lain, organisasi atau individu yang bermitra dengan xtc.co.id untuk sindikasi, menyiarkan, distribusi atau publikasi Konten tersebut pada media dan layanan lainnya, sesuai dengan syarat dan ketentuan untuk penggunaan Konten tersebut.</p>

<p class="staticpages">Penggunaan tambahan oleh xtc.co.id, atau perusahaan lain, organisasi atau individu yang bermitra dengan xtc.co.id, dapat dilakukan tanpa kompensasi terhadap anda sehubungan dengan Konten yang anda serahkan, pasang, kirimkan, atau sediakan melalui layanan.</p>

<p class="staticpages">Kami dapat mengubah atau mengadopsi konten anda dalam rangka untuk mengirimkan, menampilkan atau mendistribusikannya melalui jaringan komputer dan di berbagai media dan/atau membuat perubahan yang diperlukan terhadap konten anda untuk mengikuti dan menyesuaikan Konten tersebut pada setiap persyaratan atau keterbatasan dari setiap jaringan, perangkat, layanan atau media.</p>

<p class="staticpages">Anda bertanggung jawab untuk setiap penggunaan layanan, untuk setiap konten yang anda berikan, dan segala macam konsekuensinya, termasuk penggunaan konten anda oleh pengguna lain dan mitra pihak ketiga kami. Anda paham bahwa Konten Anda dapat disindikasi, menyiarkan, didistribusikan, atau diterbitkan oleh mitra kami dan jika Anda tidak memiliki hak untuk mengirimkan Konten untuk penggunaannya, itu dapat dikenai kewajiban. xtc.co.id tidak akan bertanggung jawab atau berkewajiban atas segala penggunaan Konten Anda oleh Twitter menurut Ketentuan ini. Anda menyatakan dan menjamin bahwa Anda memiliki semua hak, kekuasaan dan otoritas yang diperlukan untuk memberikan hak diberikan di sini terhadap Konten apapun yang Anda kirimkan.</p>

<p class="staticpages">6. Izin Menggunakan Layanan</p>

<p class="staticpages">xtc.co.id memberi anda secara pribadi, di seluruh dunia, bebas royalti, izin yang tidak dapat dialihkan dan izin yang tidak eksklusif untuk menggunakan perangkat lunak yang disediakan oleh xtc.co.id kepada Anda sebagai bagian dari Layanan. Izin ini diberikan agar memungkinkan Anda untuk menggunakan dan menikmati manfaat Layanan yang disediakan oleh xtc.co.id, dengan cara yang diizinkan menurut Ketentuan ini.</p>

<p class="staticpages">7. Hak xtc.co.id</p>

<p class="staticpages">semua hak, judul, kepentingan dan Layanan (termasuk Konten yang dibuat oleh pengguna) adalah dan akan tetap menjadi milik eksklusif xtc.co.id dan pemegang lisensinya. Layanan dilindungi oleh hak cipta, merek dagang, dan hukum lain baik dari Negara Kesatuan Republik Indonesia dan negara-negara lainnya. Tidak ada dalam Ketentuan, memberi Anda hak untuk menggunakan nama xtc.co.id atau salah satu merek dagang xtc.co.id, logo, nama domain, dan fitur merek khusus lainnya. Setiap umpan balik, komentar, atau
saran yang anda berikan berkaitan dengan xtc.co.id, atau Layanan sepenuhnya sukarela dan kita akan bebas untuk menggunakan umpan balik, komentar atau saran tersebut sebagaimana kita kehendaki dan tanpa ada kewajiban kepada Anda.</p>

<p class="staticpages">8. Pembatasan konten dan penggunaan layanan</p>

<p class="staticpages">silakan baca <a href="#">aturan xtc.co.id</a> (yang merupakan bagian dari Ketentuan ini) untuk lebih memahami apa yang dilarang dalam Layanan. Kami berhak setiap saat (tapi tidak akan memiliki kewajiban) untuk menghapus atau menolak pendistribusian konten apapun pada Layanan, menangguhkan atau memberhentikan pengguna, dan untuk memperoleh kembali nama pengguna tanpa kewajiban kepada anda. Kami juga berhak untuk mengakses, membaca, melindungi, dan memberikan informasi jika ini diperlukan untuk (i) mematuhi ketentuan hukum yang berlaku, regulasi, proses hukum atau permintaan pemerintah, (ii) menegakkan Ketentuan, termasuk penyelidikan yang berpotensi melanggar perjanjian ini, (iii) mendeteksi, mencegah,
atau menangani masalah penipuan, keamanan atau masalah teknis, (iv) merespon permintaan bantuan dari pengguna, atau (v) melindungi hak, milik, atau keselamatan xtc.co.id, para penggunanya dan masyarakat umum.</p>

<p class="staticpages">Anda tidak dapat melakukan hal berikut saat mengakses atau menggunakan Layanan : (i) mengakses, merusak, atau menggunakan area non publik, sistem komputer xtc.co.id, atau sistem pengiriman teknis penyedia layanan xtc.co.id; (ii) menyelidiki, memindai, atau melakukan tes kelemahan sistem atau jaringan atau menembus atau menggagalkan segala bentuk keamanan atau tindakan otentifikasi; (iii)
mengakses atau mencari atau mencoba untuk mengakses atau mencari Layanan dengan segala cara (secara otomatis atau sebaliknya) namun bukan melalui layanan yang kami sediakan saat ini, published interfaces yang disediakan oleh xtc.co.id (dan hanya sesuai dengan syarat dan kondisi), kecuali Anda secara khusus diijinkan melakukannya dalam perjanjian terpisah dengan xtc.co.id (CATATAN: melakukan crawling pada Layanan diperbolehkan jika dilakukan sesuai dengan ketentuan file robots.txt, Namun, apabila melakukan scraping pada Layanan tanpa persetujuan terlebih dahulu dari xtc.co.id secara tegas dilarang); (iv) Memalsukan TCP/IP packet header atau bagian lain dari informasi header di email atau posting, atau dengan cara apapun menggunakan Layanan untuk mengirim altered, deceptive atau false source identifying information; atau (v)
mencampuri, atau mengganggu, (atau mencoba untuk melakukannya), akses setiap pengguna, host atau jaringan,
termasuk, tidak terbatas pada, mengirim virus, overloading, flooding, spamming, mail-bombing layanan, atau dengan script menciptakan Konten sedemikian rupa untuk mengganggu atau membuat beban yang tidak semestinya pada Layanan.</p>

<p class="staticpages">9. Kebijakan Hak Cipta</p>

<p class="staticpages">xtc.co.id menghormati hak-hak kekayaan intelektual orang lain dan mengharapkan pengguna Layanan untuk melakukan hal yang sama. Kami akan menanggapi pemberitahuan dugaan pelanggaran hak cipta yang ditujukan kepada kami sesuai dengan hukum yang berlaku. Jika Anda yakin bahwa Konten Anda telah disalin sedemikian rupa sehingga merupakan pelanggaran hak cipta, silakan berikan kami informasi berikut: (i) tanda tangan fisik atau elektronik dari pemilik hak cipta atau orang yang berwenang untuk bertindak atas nama mereka; (ii) identifikasi terhadap karya cipta diklaim telah dilanggar; (iii) identifikasi terhadap bahan yang diklaim sebagai pelanggaran atau menjadi subyek aktivitas pelanggaran dan yang akan dihapus
atau akses yang akan dinonaktifkan, dan informasi yang cukup memadai untuk memungkinkan kita untuk mencari bahan; (iv) informasi kontak Anda, termasuk alamat, nomor telepon, dan alamat email; (v) pernyataan dari Anda bahwa Anda memiliki niat baik bahwa penggunaan bahan tidak diizinkan oleh pemilik hak cipta, agennya, atau hukum; dan (vi) pernyataan bahwa informasi dalam pemberitahuan adalah akurat, dan, di bawah sumpah,
bahwa Anda memiliki kuasa untuk bertindak atas nama pemilik hak cipta.</p>

<p class="staticpages">Kami berhak untuk menghapus Konten yang diduga melanggar tanpa pemberitahuan sebelumnya, atas kebijakan kami, dan tanpa kewajiban kepada Anda. Dalam kondisi yang tepat, Twitter juga akan mengakhiri akun pengguna jika pengguna bertekad untuk menjadi pelaku pelanggaran berulang. Agen hak cipta kami yang ditunjuk untuk menyelesaikan dugaan pelanggaran hak cipta yang muncul pada Layanan adalah:</p>

<p class="staticpages">10. Akhir Ketentuan</p>

<p class="staticpages">Persyaratan akan terus berlaku hingga diakhiri oleh Anda atau xtc.co.id seperti berikut. Anda mungkin mengakhiri perjanjian hukum dengan xtc.co.id kapan saja karena alasan apapun dengan menonaktifkan akun Anda dan menghentikan penggunaan Layanan oleh Anda. Anda tidak perlu secara khusus menginformasikan xtc.co.id ketika Anda berhenti menggunakan Layanan. Jika Anda berhenti menggunakan Layanan tanpa menonaktifkan akun Anda, akun Anda dapat dinonaktifkan karena tidak aktif berkepanjangan di bawah <a href="#">Kebijakan Akun Tidak Aktif</a> kami.</p>

<p class="staticpages">kita dapat menangguhkan atau menghentikan akun Anda atau berhenti menyediakan semua
atau sebagian dari Layanan yang diberikan kepada anda kapan saja untuk alasan apapun, termasuk, namun tidak terbatas pada, jika kita cukup yakin: (i) Anda telah melanggar Ketentuan ini atau <a href="#">peraturan xtc.co.id</a>, (ii) Anda membuat risiko atau kemungkinan hukum yang mungkin timbul untuk kita; atau (iii)
Layanan kami tidak lagi layak secara komersial. Kami akan melakukan upaya untuk memberitahu Anda
pada alamat email terkait dengan akun Anda atau pada saat Anda mencoba untuk mengakses akun Anda.</p>

<p class="staticpages">Dalam semua kasus tersebut, Ketentuan untuk anda akan terhenti, termasuk ijin untuk menggunakan Layanan, kecuali bagian : 4, 5, 7, 8, 10, 11, dan 12 yang akan terus berlaku untuk anda</p>

<p class="staticpages">Tidak ada apapun pada bagian ini yang akan mempengaruhi hak-hak xtc.co.id untuk mengubah, membatasi atau menghentikan penyediaan Layanan tanpa pemberitahuan sebelumnya, sebagaimana diatur di atas pada bagian 1.</p>




<p class="staticpages">C. Batasan Tanggung Jawab</p>

<p class="staticpages">SEPANJANG DIIZINKAN OLEH HUKUM YANG BERLAKU, XTC.CO.ID TIDAK BERTANGGUNG JAWAB UNTUK SEGALA KERUGIAN TIDAK LANGSUNG, INSIDENTIL, KHUSUS,</p>