<p class="staticpages">XTC adalah media sosial dan informasi aktual yang menghubungkan Anda dengan cerita, gagasan, pendapat, serta berita terkini yang menurut Anda menarik. Cukup temukan akun yang paling memikat dan ikuti percakapannya.</p>

<p class="staticpages">Bagian terpenting dari Twitter adalah informasi-informasi kecil bernama Tweet. Masing-masing Tweet mempunyai panjang 140 karakter, tapi jangan salah—walaupun pendek, Anda dapat menemukan banyak sekali informasi. Anda bisa melihat foto, video, dan percakapan secara langsung di dalam Tweet untuk mendapatkan keseluruhan cerita dengan nyaman. Lihat aksinya.</p>

<p class="staticpages">Anda tidak harus menge-tweet untuk mendapatkan manfaat Twitter</p>

<p class="staticpages">Anda tidak perlu membuat situs web untuk menjelajahi web, dan Anda tidak perlu menge-tweet untuk menikmati Twitter. Tidak peduli Anda menge-tweet 100 kali sehari ataupun tidak pernah sama sekali, Anda tetap dapat mengakses berita dan informasi yang menarik di sekitar Anda. Anda dapat berkontribusi, atau hanya mendengar dan menarik informasi tersebut. Kunjungi fly.twitter.com untuk mempelajari lebih lanjut tentang apa saja yang bisa Anda temukan.</p>