<%= link_to gravatar_for(current_user, size: 30), current_user %>

<h2><%= current_user.name %></h2>

<span>
	<small><%= link_to "Liat profil sendiri", current_user, :target => '_blank' %></small>
</span>